/***
 * 常用的一些样式
 ***/
@import '_variable';
@import 'layout';
@import '_color';
// 内容区
.app-content {
  padding: 30px;
}

// title 提示
.ley-title {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}

// 四边阴影
.ley-shadow {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.14);
}

// 下阴影
.ley-bottom-shadow {
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.14);
}

// a 标签
.ley-a {
  text-decoration: none;
  color: currentColor;
}

// 默认 a 标签样式
.ley-default-a {
  text-decoration: none;
  color: $color-666;
  &:hover {
    color: $orange;
  }
}

// 边框
.ley-border {
  border: $border;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

// input 框
.ley-input, .ley-button {
  @extend .ley-border;
  height: 32px;
  padding: 0 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.ley-textarea {
  @extend .ley-border;
  padding: 10px;
  max-width: 400px;
  max-height: 200px;
}
.ley-mini-input {
  @extend .ley-input;
  width: 220px;
}
.ley-label {
  @extend .ley-align-center;
  margin-right: 15px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
}
.ley-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  border: $border;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  &:hover {
    border-color: $orange;
  }
  &.ley-radio-checked {
    border-color: $orange;
    background-color: $orange;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 4px;
      height: 4px;
      background-color: #fff;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(1);
      transition: transform .5s ease-in;
      -webkit-transition: transform .5s ease-in;
      -moz-transition: transform .5s ease-in;
      -ms-transition: transform .5s ease-in;
      -o-transition: transform .5s ease-in;
}
  }
}

// 按钮
.ley-btn {
  padding: 0 15px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
}

// markdown 相关样式
.manage-content {
  pre {
    padding: 1em 1.4em;
    line-height: 1.8em;
    color: $code-color;
    background: $pre-bclolr;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  p {
    line-height: 1.8em;
    color: $p-color;
  }
}

