/***
 * 常用的一些样式
 ***/
@import '_color';

// 内容区样式
.app-content {
  padding: 20px 30px;
}

// 四边阴影
.ley-shadow {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.14);
}

// 下阴影
.ley-bottom-shadow {
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.14);
}

// a 标签
.ley-a {
  text-decoration: none;
  color: currentColor;
}

// 默认 a 标签样式
.ley-default-a {
  text-decoration: none;
  color: $color-666;
  &:hover {
    color: $orange;
  }
}