html, body {
  height: 100%;
  font-size: 14px;
}

// 取消默认边框
p, div, input, textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 输入框默认获取焦点
input, textarea, button {
  &:focus{
    outline: none;
  }
}
